	{% extends 'bbase.html' %}

	{% load catalog_filters %}
	{% load comments %}


	{% block site_wrapper %}
	<button type="submit"><a href="/{{post.author}}/">Back to list</a></button>
			<article>
				<h3><a href="#">{{post.title}}</a></h3>
				<h6>Written by <a href="/{{post.author}}/">{{post.author}}</a>
				 on {{post.created}}</h6>

				<div class="row">
					<div class="large-6 columns">
						{{post.content|linebreaks}}
					</div>
				</div>

		<!-- Comments  -->
		{% if comments %}
		    <p>Comments:</p>
		{% endif %}

		{% for comment in comments %}
		    <div class="comment">
		        <div class="time">{{ comment.created }} | {{ comment.user }}</div>
		        <div class="body">{{ comment.content|linebreaks }}</div>
		    </div>
		{% endfor %}

		<div id="addc">Add a comment</div>
		<!-- Comment form  -->
		<form action="{% url "blog.views.add_comment" post.id %}" method="POST">{% csrf_token %}
		    <div id="cform">
		        Name: {{ form.author }}
		        <p>{{ form.body|linebreaks }}</p>
		    </div>
		    <div id="submit"><input type="submit" value="Submit"></div>
		</form>


		{% endblock %}