	{% extends 'bbase.html' %}

	{% load catalog_filters %}
	{% load comments %}


	{% block site_wrapper %}
	<button type="submit"><a href="/{{post.author}}/">Back to list</a></button>
			<article>
				<h3><a href="#">{{post.title}}</a></h3>
				<h6>Written by <a href="/{{post.author}}/">{{post.author}}</a>
				 on {{post.created}}</h6>

				<div class="row">
					<div class="large-6 columns">
						{{post.content|linebreaks}}
					</div>
				</div>

			<!-- Comments  -->
			<p>Comments:</p>
			{% get_comment_count for post as comment_count %}
			<p>{{ comment_count }} comment(s) have been posted.</p>
			
			{% render_comment_list for post %}

			<br>
			<br>
			<hr>
			<div>Add a comment</div>


		{% endblock %}